@{
    ViewBag.Title = "PokeMVC Home";
}

<div class="jumbotron">
    <h1><img src="https://fontmeme.com/permalink/200727/5e7386a09b3003f226e6eeba3d41d8bc.png" alt="pokemon-font" border="0"" alt="pokemon-font" border="0" /></h1>
    <p class="lead">
        PokeMVC is a database for all things Pokemon! You can use it to find information on Pokemon, Moves, and Trainers.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pokemon</h2>
        <p>
            The Pokemon table has information on Pokemon. You can visit it to find information on which regions Pokemon are from,
            which Pokemon are legendary or mythical, or evolution conditions.
        </p>
        @Html.ActionLink("Pokemon", "Index", "Pokemon", null, new { @class = "btn btn-primary btn-lg"})
    </div>
    <div class="col-md-4">
        <h2>Moves</h2>
        <p>
            Check the moves table for all information on moves. You can find the stats for a specific moves, as well as what extra
            effects a move can have!</p>
        <p>
        @Html.ActionLink("Moves", "Index", "Move", null, new { @class = "btn btn-primary btn-lg" })
</div>
    <div class="col-md-4">
        <h2>Trainers</h2>
        <p>
            The trainer table is where you want to go to prepare for battle! Use it to check the team of any tough trainer standing
            in your path to become Champion!</p>
        <p>
        @Html.ActionLink("Trainers", "Index", "Trainer", null, new { @class = "btn btn-primary btn-lg" })
</div>
</div>